<header>
    <h1>Bienvenue Test{#{ user.nom }#}</h1>
    <p>Crédits disponibles : 12{#{ user.credits.sdr }#} h de SDR | {#{ user.credits.half_days }#}3 1/2j | {#{ user.credits.days }#}2 j | {#{ user.credits.months }#}0 mois</p>
</header>
