{% extends 'base.html.twig' %}

{% block title %}Réserver une salle de réunion - Espace Client{% endblock %}

{% block body %}
    <h2>Réserver une salle de réunion</h2>
    <div id="calendar">
        <!-- Affichage du calendrier ici -->
    </div>
    <script>
        // Code JS pour le calendrier et la gestion des créneaux
    </script>
{% endblock %}
